<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Formatter</string>
	<key>uuid</key>
	<string>93034798-DA2C-4068-BE95-3ED0DD787AFB</string>
</dict>
</plist>
